* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  line-height: 165%;
  color: #000000;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 100%;
  color: #000000;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  color: #FFFFFF;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  color: #FFFFFF;
}

p {
  color: rgba(0, 0, 0, 0.5);
}

footer p {
  color: rgba(255, 255, 255, 0.5);
}

button {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  font-family: "Alata", sans-serif;
}

button {
  border: none;
  background: none;
}

.see-all {
  border: 1px solid #000000;
  width: 157px;
  height: 40px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 40px 24px 0px 24px;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 144px;
  height: 24px;
}

.hero-section {
  position: relative;
  height: 650px;
  background: url("../../images/mobile/image-hero.jpg");
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
}

.hero-content {
  border: 2px solid #FFFFFF;
  padding: 24px;
}

main {
  width: 100%;
  overflow: hidden;
}

.leader-section {
  padding-inline: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  text-align: center;
  margin-block: 96px;
}

.leader-img {
  min-height: 224px;
  width: 100%;
}

.leader-section .text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline: 24px;
}

.creations-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
}

.creations {
  width: 100%;
  margin-block: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.creation {
  position: relative;
  overflow: hidden;
}
.creation img {
  width: 100%;
  display: block;
}
.creation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
  opacity: 0.6;
  z-index: 1;
}
.creation .creation-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}

footer {
  background-color: #000000;
  margin-top: 96px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer nav {
  margin-block: 40px;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .socials-links {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
footer .socials-links img {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */