$white: #FFFFFF;

$black: #000000;
$semi-black: rgba(0, 0, 0, 0.5);
$grey-200: #D8D8D8;

$blue-100: #E5EAF1;
$blue-50: #F6FAFF;

$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-alata: 'Alata', sans-serif;

$text-preset-1-size: 72px;
$text-preset-2-size: 48px;
$text-preset-3-size: 40px;
$text-preset-4-size: 32px;
$text-preset-5-size: 24px;
$text-preset-6-size: 15px;
$text-preset-7-size: 14px;

$font-weight-light: 300;
$font-weight-regular: 400;

$line-height-100: 100%;
$line-height-165: 165%;

$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;