$white: #ffffff;

$black: #000000;
$semi-black: rgba(0, 0, 0, 0.5);
$semi-black-footer: rgba(255, 255, 255, 0.5);

$grey-200: #d8d8d8;
$blue-100: #e5eaf1;
$blue-50: #f6faff;
$gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.1) 0%,
  rgba(0, 0, 0, 0.6) 100%
);
$hero-overlay: rgba(0, 0, 0, 0.4);

$font-josefin-sans: "Josefin Sans", sans-serif;
$font-alata: "Alata", sans-serif;

$text-preset-1-size: 72px;
$text-preset-2-size: 48px;
$text-preset-3-size: 40px;
$text-preset-4-size: 32px;
$text-preset-5-size: 24px;
$text-preset-6-size: 15px;
$text-preset-7-size: 14px;

$font-weight-light: 300;
$font-weight-regular: 400;

$line-height-100: 100%;
$line-height-165: 165%;

$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 980px;
