@use "../base/variables" as *;
@use "../utils/mixins" as *;

.creations-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
}
.creations {
  width: 100%;
  margin-block: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.creation {
  position: relative;
  overflow: hidden;

  .img-container {
    width: 100%;
    height: 120px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: $gradient;
    opacity: 0.6;
    z-index: 1;
  }

  .creation-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
  }
}

.creation:nth-child(1) .img-container {
  background-image: url("../../images/mobile/image-deep-earth.jpg");
}
.creation:nth-child(2) .img-container {
  background-image: url("../../images/mobile/image-night-arcade.jpg");
}
.creation:nth-child(3) .img-container {
  background-image: url("../../images/mobile/image-soccer-team.jpg");
}
.creation:nth-child(4) .img-container {
  background-image: url("../../images/mobile/image-grid.jpg");
}
.creation:nth-child(5) .img-container {
  background-image: url("../../images/mobile/image-from-above.jpg");
}
.creation:nth-child(6) .img-container {
  background-image: url("../../images/mobile/image-pocket-borealis.jpg");
}
.creation:nth-child(7) .img-container {
  background-image: url("../../images/mobile/image-curiosity.jpg");
}
.creation:nth-child(8) .img-container {
  background-image: url("../../images/mobile/image-fisheye.jpg");
}

@include tablet {
  .creations-section {
    padding-inline: 80px;
  }
}
@include desktop {
  .creations-section {
    position: relative;
    width: 100%;
    max-width: 1280px;
    padding-inline: 80px;

    h2 {
      align-self: start;
      text-align: start;
    }
  }
  .creations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px 24px;
    max-width: 1120px;
    margin-block: 0;
    margin-top: 80px;
  }

  .creation {
    .img-container {
      height: 450px;
    }
  }
  .creation:nth-child(1) .img-container {
    background-image: url("../images/desktop/image-deep-earth.jpg");
  }
  .creation:nth-child(2) .img-container {
    background-image: url("../images/desktop/image-night-arcade.jpg");
  }
  .creation:nth-child(3) .img-container {
    background-image: url("../images/desktop/image-soccer-team.jpg");
  }
  .creation:nth-child(4) .img-container {
    background-image: url("../images/desktop/image-grid.jpg");
  }
  .creation:nth-child(5) .img-container {
    background-image: url("../images/desktop/image-from-above.jpg");
  }
  .creation:nth-child(6) .img-container {
    background-image: url("../images/desktop/image-pocket-borealis.jpg");
  }
  .creation:nth-child(7) .img-container {
    background-image: url("../images/desktop/image-curiosity.jpg");
  }
  .creation:nth-child(8) .img-container {
    background-image: url("../images/desktop/image-fisheye.jpg");
  }
  .see-all {
    position: absolute;
    top: 0;
    right: 80px;
  }
}
