@use "../base/variables" as *;
@use "../utils/mixins" as *;


footer {
  background-color: $black;
  margin-top: 96px;
  padding-block: 48px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    margin-block: 40px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  .socials-links {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

@include tablet {
  footer {
    height: 160px;
  }
  .footer-container {
    width: 100%;
    margin-inline: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 24px;
    align-items: start;
    gap: 0;

    .logo {
      grid-row: 1;
      grid-column: 1;
    }

    .socials {
      grid-row: 1;
      grid-column: 2;
      justify-self: end;
    }

    nav {
      grid-row: 2;
      grid-column: 1;
      margin-block: 0;

      ul {
        flex-direction: row;
        gap: 8px;
      }
    }

    .copyright {
      grid-row: 2;
      grid-column: 2;
      justify-self: end;
    }
  }
}

@include desktop {
  .footer-container {
    max-width: 1110px;
    padding-inline: 0;
    margin-inline: 80px;
  }
}
