header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 40px 24px 0px 24px;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
    width: 144px;
    height: 24px;
}