@use "../utils/mixins" as *;

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: clamp(2.5rem, 7vw, 5rem);
  padding-inline: clamp(1.5rem, 7vw, 5rem);
  padding-bottom: 0;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 144px;
  height: 24px;
}

@include tablet {
  header {
    padding: 80px 80px 0px 80px;
  }
  .logo {
    width: 192px;
    height: 32px;
  }
}
