@use "../utils/mixins" as *;
@use "../base/variables" as *;

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: clamp(2.5rem, 7vw, 5rem);
  padding-inline: clamp(1.5rem, 7vw, 5rem);
  padding-bottom: 0;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .desktop-nav {
    display: none;
    ul {
      li {
        a {
          position: relative;
          color: $white;
          display: inline-block;

          padding-bottom: $spacing-100;

          &::after {
            content: "";
            position: absolute;

            bottom: 0;
            left: 50%;

            width: 50%;
            height: 3px;
            background-color: $white;

            transform: translateX(-50%) scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::after {
            transform: translateX(-50%) scaleX(1);
          }
        }

        &.active a::after {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: $black;
    z-index: 300;
    padding: 48px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 160px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;

    &.is-open {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        height: 24px;
        width: 144px;
      }
      .close-btn {
        height: 19px;
        width: 19px;
        img {
          height: 19px;
          width: 19px;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
      li {
        a {
          text-transform: uppercase;
          font-size: $text-preset-5-size;
          font-weight: $font-weight-light;
          font-family: $font-josefin-sans;
        }
      }
    }
  }
}
.logo {
  width: 144px;
  height: 24px;
}

@include tablet {
  header {
    padding: 64px 80px 0px 80px;
    .logo {
      width: 192px;
      height: 32px;
    }
    .mobile-nav {
      padding-inline: 80px;
      .header {
        .logo {
          height: 32px;
          width: 192px;
        }
        .close-btn {
          height: 25px;
          width: 25px;
          img {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
}

@include desktop {
  header {
    padding: 64px 135px 0px 135px;
    .menu-toggle {
      display: none;
    }
    .desktop-nav {
      display: flex;
      height: 100%;
      ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
      }
    }
  }
}
