@use "../base/variables" as *;
@use "../utils/mixins" as *;

.hero-section {
  position: relative;
  background-image: url("../../images/mobile/image-hero.jpg");
  width: 100%;
  height: 650px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding-inline: clamp(1.5rem, 7vw, 5rem);
}
.hero-content {
  border: 2px solid $white;
  padding: 24px;
}

@include tablet {
  .hero-section {
    padding-inline: 80px;
    background-image: url("../../images/desktop/image-hero.jpg");
  }
  .hero-content {
    padding: 40px;
  }
}
