@use "../utils/mixins" as *;
@use "../base/variables" as *;

.leader-section {
  padding-inline: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  text-align: center;
  margin-block: 96px;
}

.leader-img-container {
  background-image: url("../../images/mobile/image-interactive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 224px;
  width: 100%;
}

.leader-section {
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-inline: 24px;
  }
}

@include tablet {
  .leader-section {
    padding-inline: 80px;
  }
  .leader-img-container {
    min-height: 284px;
  }
}
@include desktop {
  .leader-section {
    padding-inline: 80px;
    margin-block: 135px;
    flex-direction: row;
    height: 500px;
    position: relative;
    width: 100%;
    max-width: 1271px;

    .text-content {
      position: absolute;
      bottom: 0;
      right: 80px;
      z-index: 100;
      background-color: $white;
      width: 541px;
      height: 317px;
      padding-left: 96px;
      padding-top: 96px;
      gap: 24px;
      align-items: start;
      text-align: start;
      margin-inline: 0;
    }
  }
  .leader-img-container {
    height: 100%;
    width: 731px;
  }
}
